# ============================================================
# NODE
# ============================================================

node_modules


# ============================================================
# BUILDS LOCALES
# ============================================================

dist
release


# ============================================================
# PYTHON LOCAL
# ============================================================

server/.venv
.venv

__pycache__
*.pyc
*.pyo


# ============================================================
# GIT
# ============================================================

.git
.gitignore


# ============================================================
# ENV
# ============================================================

.env
.env.local


# ============================================================
# EDITORES / SISTEMA
# ============================================================

.vscode
.DS_Store
Thumbs.db